# Deep Learning with Keras

This notebook shows how to build a deep learning model to predict the quality score of different wines

In [1]:
# Initial imports
import pandas as pd
import matplotlib.pyplot as plt
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import Dense

%matplotlib inline

In [ ]:
# Import student_loans.csv to Google Colab
from google.colab import files
uploaded = files.upload()

In [2]:
# Read in data
data = "student_loans.csv"
df = pd.read_csv(data)
df.head()

,payment_history,location_parameter,stem_degree_score,gpa_ranking,alumni_success,study_major_code,time_to_completion,finance_workshop_score,cohort_ranking,total_loan_score,financial_aid_score,credit_ranking
0,7.4,0.70,0.00,1.9,0.076,11.0,34.0,0.9978,3.51,0.56,9.4,5
1,7.8,0.88,0.00,2.6,0.098,25.0,67.0,0.9968,3.20,0.68,9.8,5
2,7.8,0.76,0.04,2.3,0.092,15.0,54.0,0.9970,3.26,0.65,9.8,5
3,11.2,0.28,0.56,1.9,0.075,17.0,60.0,0.9980,3.16,0.58,9.8,6
4,7.4,0.70,0.00,1.9,0.076,11.0,34.0,0.9978,3.51,0.56,9.4,5

In [3]:
# Create the features (X) and target (y) sets

In [4]:
# Scale the data

## Define a model with 1 hidden layer

In [5]:
# Define the model - shallow neural net


# Hidden layer


# Output layer

In [6]:
# Compile the model

# Train the model

In [7]:
# Plot the train and test loss function

## Define a model with 2 hidden layers

In [8]:
# Define the model - deep neural net


# First hidden layer


# Second hidden layer


# Output layer

In [9]:
# Compile model

# Fit the model

In [10]:
# Overlay results of deep and shallow models

In [11]:
# Train vs test for shallow net

In [12]:
# Train vs test for deep net